[submodule "incubator-nuttx"]
	path = incubator-nuttx
	url = https://github.com/apache/incubator-nuttx
[submodule "apps"]
	path = apps
	url = https://github.com/apache/incubator-nuttx-apps
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
[submodule "zephyr-app/basic_uart/src/mavlink"]
	path = zephyr-app/basic_uart/src/mavlink
	url = git@github.com:mavlink/mavlink
[submodule "zephyr-app/simple_i2c/src/mavlink"]
	path = zephyr-app/simple_i2c/src/mavlink
	url = https://github.com/mavlink/mavlink
